<h1>Team Manager</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#Teams" data-toggle="tab">Teams</a></li>
  <li><a href="#Players" data-toggle="tab">Players</a></li>
  <li><a href="#Positions" data-toggle="tab">Positions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="Teams">
    <%= render partial: "teams/index" %>
    
  </div>
  <div class="tab-pane" id="Players">
    <%= render partial:  "players/index" %>
    
  </div>
  
  <div class="tab-pane" id="Positions">
    <%= render partial: "positions/index" %>
  </div>
</div>